<div class="card" style="width: 18rem;" [ngClass]="{selected: isSelected}">
  <img [src]="show.image" class="card-img-top" alt="...">
  <div class="card-body">
      <p (click)="onDeleteCard()" style="float: right; cursor: pointer;">x</p>
      <h5 class="card-title">{{show.name}}</h5>
      <p class="card-text">{{show.description}}</p>
      <div class= "container d-flex align-items-center justify-content-around">
        <button (click)="editShow(show)" class="btn btn-primary">Editar</button>
        <button (click)="changeSelected()" class="btn btn-primary">{{isSelected ? "Deseleccionar" : "Seleccionar"}}</button>
      </div>
  </div>
</div>